{
  "root": true,
  "extends": [
    "@react-native-community",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "prettier", "jsx-a11y"],
  "rules": {
    "import/namespace": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react/prop-types": "off"
  }
}
